@import '@/common/styles/variables.css';

.wrapper {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  background-color: var( --bg-color-day-header-footer);
  border-bottom: 1px solid var(--bg-color-day-divider);
}

.backgroundNight {
  background-color: var( --bg-color-night-header-footer);
  border-bottom: 1px solid var(--bg-color-night-divider);
}

nav {
  display: flex;
}

.list {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  gap: 10px;
}

.separator {
  color: var( --color-gray);
  align-self: center;
}

.link {
  display: flex;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-day);
  margin-left: 10px;
}
.link:hover {
  color: var(--hover-color-link);
}

.link.night {
  color: rgba(200, 205, 211, 0.68);
}

.link.active {
  border-radius: 999px;
}

.link.active.night {
  background-color: var(--bg-color-night-btn-active2);
  color: var(--color-night);
}

.link.active.day {
  background-color: rgb(221, 230, 227);
}

.loginContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btnChangeMode {
  padding-top: 3px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #eae2e2;
  color: var(--color-day);
  cursor: pointer;
}


.btnChangeMode.night{
  border: 1px solid rgba(255,255,255,0.2);
  background-color: var(--bg-color-night-btn-active2);
}

.btnChangeMode:hover {
  transform: translateY(-1px);
  border: 1px solid #7B68EE;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 180px;
  opacity: 0.8;
  transition: opacity .3s;
  cursor: pointer;
}

.logo:hover {
  opacity: 1;
}