@import '@/common/styles/variables.css';

.wrapper {
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  background-color: var( --bg-color-day-header-footer);
  border-bottom: 1px solid var(--bg-color-day-divider);
}

.backgroundDay {
  background-color: var( --bg-color-day-header-footer);
}

.backgroundNight {
  background-color: var( --bg-color-night-header-footer);
  border-bottom: 1px solid var(--bg-color-night-divider);
}

.list {
  display: flex;
  padding: 25px 0;
  gap: 10px;
  justify-content: center;
  li{
    padding: 4px 12px;

  }
}

.separator {
  color: var( --color-gray);
  align-self: center;
}

.link {
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 999px;
  color: var(--color-day);
}
.link:hover {
  color: var(--hover-color-link);
}
.linkDay {
  color: var(--color-day);
}
.linkNight {
  color: var(--color-night);
}


.activeDayLink {
  background-color: var(--bg-color-day-btn-active);
}

.activeNightLink {
  background-color: var(--bg-color-night-btn-active2);
}


.loginContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btnChangeMode {
  padding-top: 5px;

  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.2);
  /*border-color: var(--bg-color-day-btn-active);*/
  background-color: var(--bg-color-night);
  color: var(--bg-color-day-color);
  cursor: pointer;
}

.btnChangeModeNight {
  border: 1px solid rgba(255,255,255,0.2);
}

.btnChangeMode:hover {
  transform: translateY(-1px);
  border: 1px solid #7B68EE;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 180px;
  opacity: 0.8;
  transition: opacity .3s;
  cursor: pointer;
}

.logo:hover {
  opacity: 1;
}