@import '@/common/styles/variables.css';

.wrapper {
  background-color: var( --bg-color-day-header-footer);
  border-bottom: 1px solid var(--bg-color-day-color);
}

.list {
  display: flex;
  gap: 40px;
  padding: 30px 0;
  justify-content: center;
}

.link {
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: 500;
}

.activeDayLink {
  background-color: var(--bg-color-day-btn-active);
}

.activeLinkNight {
  background-color: var(--bg-color-night-btn-active);
}


.loginContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btnDayNight {
  padding-top: 5px;
  transition: background-color .2s ease, border-color .2s ease, color .2s ease, transform .2s ease;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  /*border-color: var(--bg-color-day-btn-active);*/
  background-color: var(--bg-color-day);
  color: var(--bg-color-day-color);
  cursor: pointer;
}
.btnDayNight:hover {
  transform: translateY(-1px);
  border: 1px solid #7B68EE;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 140px;
  opacity: 0.8;
  transition: opacity .3s;
  cursor: pointer;
}

.logo:hover {
  opacity: 1;
}