.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.genre {
    border: 1px solid var(--color-gray-border);
    border-radius: 9999px;
    background-color: #F9F9F9;
    color: var(--color-day);
    font-size: 14px;
    line-height: 1.2;
    transition: all .2s ease;
    padding: 6px 12px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
}

.genre:hover {
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgb(37, 99, 235, .1);
    background-color: rgba(123, 159, 253, 0.5);
}

.genre.clicked {
    background-color: #2563eb;
    color: var(--color-night);
}

.genre.clicked:hover {
    opacity: 0.8;
}

.nightColor {
    color: var(--color-night);
}

.nightBgAndColor {
    color: var(--color-night);
    background-color: #1f2b40;
}