.movieList {
    padding: 60px 0;
    background-color: var(--bg-color-day);
    min-height: calc(100vh - 61px - 77px);
}
.movieList.night {
    background-color: var(--bg-color-night);
}

.title {
    transition: all 0.3s ease;
    color: var(--color-day);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

.title.colorNight {
    color: var(--color-night);
}

.contentWrapper {
    padding-top: 40px;
}


.paginationWrapper {
    padding-top: 30px;
    display: flex;
    gap: 15px;
}