.list {
    margin: 0 auto;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: transparent;
    color: var(--color-day);
    padding: 6px 12px;
    font-size: 14px;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid var(--color-gray-border);
    text-decoration: none;
}

.link.active {
    background-color: var(--hover-color-link);
    color: var(--color-night);
}

.link.night {
    color: var(--color-night);
}

