.searchForm {
    width: 100%;
}

.searchInput {
    flex: 1;
    width: 100%;
    min-width: 240px;
    padding: 12px 16px;
    border-radius: 999px;
    border: 1px solid var(--hover-color-link);
    font-size: 16px;
    background-color: var(--bg-color-day-header-footer);
    color: var(--color-day);
    transition: all 0.3s ease;
}

.btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-weight: 600;
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--color-night);

    background-color: rgba(1, 30, 106, 0.46);
    cursor: not-allowed;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.btnSearch.active {
    cursor: pointer;
    background-color: #3B5E8EFF;
}

.btnSearch:hover:disabled{
    background-color: rgba(0, 34, 122, 0.46);
}


.btnSearchCursorOn {
    cursor: pointer;
}

.btnSearch:hover {
    background-color: var(--bg-color-night-btn-active2);
}

form {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.searchInputNight {
     background-color: var(--bg-color-night-header-footer);
     color: var(--color-night);
 }