
.movieDescWrapper {
    display: flex;
    gap: 32px;
}


.movieImg {
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    max-width: 280px;
    max-height: 420px;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.descWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
    width: 100%;
}

.descHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #111827;
    line-height: 1.1;
}
.title.night {
    color: var(--color-night);
}


.releaseWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 16px;
    color: var(--color-day);
}

.releaseDesc {
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-day);
    font-weight: 500;
}

.releaseDesc.night {
    color: rgba(162, 164, 172, 0.8);
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-night);
    background-color: #ef4444;
    /*box-shadow: 0 4px 16px rgb(37,99, 235, 0.9); night*/
}

.rating.low {
    background-color: #a60416;
    color: var(--color-night);
}
.rating.medium {
    background-color: #b69b00;
}
.rating.high {
    background-color: #66b505;
    color: var(--color-night);
}

.desc {
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-day);
}

.desc.night {
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-night);
}



.genreWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.genresTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-day);
}
.genresTitle.night {
    color: #7b91bc;
}

.genresItems {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.genre {
    padding: 6px 12px;
    border-radius: 999px;
    background-color: #E5E7EB;
    /*background-color: #435f87; night */
    font-size: 14px;
    color: var(--color-day);
    /*color: var(--color-night);*/
}

.backBtn {
    padding: 6px 12px;
    font-size: 14px;
    background-color: inherit;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #bdbfbf;
    color: var(--color-day);
    user-select: none;
}


.backBtn:hover {
    background-color: #e2e8f0;
}

.backBtn.night {
    color: #B5B7BFFF;
}



.backBtn.night:hover {
    background-color: #1d2940;
}

.backBtn.moreNightBorder {
    border-color: var(--bg-color-night-btn-active2);
}


