.promo {
    min-height: 700px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-night);
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-night);
}

.backgroundImage {
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}

.contentWrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

