.promo {
    min-height: 700px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-night);
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-night);
    margin-top: 35px;
}

.backgroundImage {
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
}

.contentWrapper {
    width: 100%;
}


.formWrapper {
    margin-top: 25px;
}
