.search {
    min-height: 700px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.backgroundImage {
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}

.contentWrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.searchInput {
    flex: 1;
    width: 100%;
    min-width: 240px;
    padding: 12px 16px;
    border-radius: 999px;
    border: 1px solid var(--hover-color-link);
    font-size: 16px;
    background-color: var(--bg-color-day-header-footer);
    color: var(--color-day);
    transition: all 0.5s ease;
}

.searchInputDay {
    background-color: var(--bg-color-day-header-footer);
    color: var(--color-day);
}

.searchInputNight {
    background-color: var(--bg-color-night-header-footer);
    color: var(--color-night);
}

.btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--color-night);
    background-color: #09339c;
}
.btnSearch:hover {
    background-color: var(--hover-color-link);
}

form {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}