.contentWrapper {
    padding: 40px 0 80px 0;
    min-height: calc(100vh - 61px - 77px);
}

.paginationWrapper {
    padding-top: 30px;
    display: flex;
    gap: 15px;
}

.contentWrapper.bgColorNight {
    transition: all 0.3s ease;
    background-color: var(--bg-color-night);
}


.desc {
    margin-top: 15px;
    color: var(--color-day);
}

.desc.colorNight {
    color: rgba(126, 133, 161, 0.68);
}


.title {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-day);
}

.title.colorNight {
    color: rgb(221, 225, 239);
}

.searchResults {
    font-size: 24px;
    font-weight: 600;
}

.searchResults.colorNight {
    color: rgb(221, 225, 239);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
}

.searchResultList {
    display: flex;
    gap: 24px;
}