.layout {
  max-width: 1186px;
  margin: 0 auto 200px;
}

.contentWrapper {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}

.contentWrapper.loaded {
  opacity: 1;
  transform: translateY(0);
}