.itemWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 178px;
    min-height: 265px;
}

.img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.img:hover {
    object-fit: cover;
    transform: scale(1.04);
}

.desc {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-day);
    word-break: auto-phrase;
    text-align: center;
}

.desc.night {
    color: var(--color-night);
}

.imgWrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    width: 178px;
    height: 265px;
}
.imgWrapper:hover .heartWrapper {
   transform: translateY(0);
   opacity: 1;
}

.heartWrapper {
    transition: all .3s ease;
    cursor: pointer;
    background-color: rgba(53, 76, 87,0.8);
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    display: flex;
    opacity: 0;
    transform: translateY(-5px);
}
.heartWrapper:hover {
    background-color: var(--hover-color-link);
}

.heart {
    width: 20px;
    height: 20px;
    fill: var(--color-gray);

}

.rating {
    cursor: pointer;
    background-color: #354c57;
    position: absolute;
    bottom: 15px;
    right: 15px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50%;
}

.rating.low {
    background-color: #a60416;
    color: var(--color-night);
}
.rating.medium {
    background-color: #b69b00;
}
.rating.high {
    background-color: #66b505;
    color: var(--color-night);
}